:host {
  display: block;
}

.records__summary {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.records__summary > app-stat-card {
  flex: 0 0 25vw;
  max-width: 25vw;
}

@media (max-width: 959px) {
  .records__summary > app-stat-card {
    flex-basis: 45vw;
    max-width: 45vw;
  }
}

@media (max-width: 599px) {
  .records__summary > app-stat-card {
    flex-basis: 100%;
    max-width: 100%;
  }
}
