:host {
  display: block;
}

.records__summary {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
}

@media (max-width: 959px) {
  .records__summary {
    grid-template-columns: 1fr;
  }
}
