@if (stats(); as stats) {
  <div class="matchups-awards">
    @if (stats.highScore; as high) {
      <app-stat-card
        title="High Score"
        [footer]="high.teamName + ' - ' + high.ownerName"
      >
        <app-stat-value [value]="high.score.toFixed(2)" />
      </app-stat-card>
    }

    @if (stats.lowScore; as low) {
      <app-stat-card
        title="Low Score"
        [footer]="low.teamName + ' - ' + low.ownerName"
      >
        <app-stat-value [value]="low.score.toFixed(2)" />
      </app-stat-card>
    }

    @if (stats.biggestLoser; as bl) {
      <app-stat-card
        title="Biggest Loser"
        [footer]="bl.teamName + ' - ' + bl.ownerName"
      >
        <app-stat-value [value]="'-' + bl.margin!.toFixed(2)" />
      </app-stat-card>
    }

    @if (stats.narrowestWin; as nw) {
      <app-stat-card
        title="Narrowest Win"
        [footer]="nw.teamName + ' - ' + nw.ownerName"
      >
        <app-stat-value [value]="nw.margin!.toFixed(2)" />
      </app-stat-card>
    }

    @if (stats.exceededExpectation; as ee) {
      <app-stat-card
        title="Exceeded Expectation"
        [footer]="ee.teamName + ' - ' + ee.ownerName"
      >
        <app-stat-value [value]="ee.delta!.toFixed(2)" />
      </app-stat-card>
    }

    @if (stats.underperformed; as up) {
      <app-stat-card
        title="Underperformed"
        [footer]="up.teamName + ' - ' + up.ownerName"
      >
        <app-stat-value [value]="up.delta!.toFixed(2)" />
      </app-stat-card>
    }

    @if (stats.mvp; as mvp) {
      <app-stat-card
        title="MVP"
        subtitle="Top starter share of team total"
        [footer]="mvp.teamName + ' - ' + mvp.ownerName"
      >
        <app-stat-value
          [context]="formatPlayerContext(mvp)"
          [value]="mvp.percentage!.toFixed(1) + '%'"
        />
      </app-stat-card>
    }

    @if (stats.highStarter; as hs) {
      <app-stat-card
        title="Top Starter"
        [footer]="hs.teamName + ' - ' + hs.ownerName"
      >
        <app-stat-value
          [context]="formatPlayerContext(hs)"
          [value]="hs.points.toFixed(2)"
        />
      </app-stat-card>
    }

    @if (stats.lowStarter; as ls) {
      <app-stat-card
        title="Lowest Starter"
        subtitle="Non-zero score only"
        [footer]="ls.teamName + ' - ' + ls.ownerName"
      >
        <app-stat-value
          [context]="formatPlayerContext(ls)"
          [value]="ls.points.toFixed(2)"
        />
      </app-stat-card>
    }
  </div>
}
