:host {
  display: block;
}

.matchups-awards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
  padding: 1.5rem 0 0;
}

@media (max-width: 599px) {
  .matchups-awards {
    grid-template-columns: repeat(2, 1fr);
  }
}
