<div class="stat-list-v2">
  @for (row of normalizedRows(); track trackRow($index, row)) {
    <div class="stat-list-v2__row">
      <div class="stat-list-v2__left-group">
        <span class="stat-list-v2__value">
          @if (typeof row.value === 'number') {
            {{ row.value | number: resolveDigitsInfo(row) }}
          } @else {
            {{ row.value }}
          }
        </span>
        <span class="stat-list-v2__primary">{{ row.primary }}</span>
      </div>

      <div class="stat-list-v2__meta-group">
        @for (metaItem of row.meta; track trackMeta($index)) {
          <span class="stat-list-v2__meta">{{ metaItem }}</span>
        }
      </div>
    </div>
  }
</div>
