:host {
  display: block;
  width: fit-content;
  align-self: start;
}

.data-table {
  width: fit-content;

  th,
  td {
    padding: 0.5rem 1rem;
    vertical-align: middle;
  }
}

.data-table__header--right,
.data-table__cell--right {
  text-align: right;
}

.data-table__header--center,
.data-table__cell--center {
  text-align: center;
}

.data-table__cell--right .data-table__cell-content,
.data-table__cell--center .data-table__cell-content {
  display: inline-flex;
  width: 100%;
}

.data-table__cell--right .data-table__cell-content {
  // Reserve space for the sort-icon spacer so the number aligns under the
  // header label text, not the sort arrow. Must match SORT_ICON_WIDTH_PX in
  // data-table.component.ts (currently 24px).
  justify-content: flex-end;
  width: calc(100% - 24px);
}

.data-table__cell--center .data-table__cell-content {
  justify-content: center;
}

.data-table__cell-spacer {
  display: inline-block;
  flex-shrink: 0;
}

.data-table__cell-block {
  display: flex;
  flex-direction: column;
  align-items: inherit;
}

.data-table__subscript {
  font-size: 0.75em;
  font-style: italic;
}
