<ul class="starter-game-list" [class.starter-game-list--no-truncate]="!truncateText()">
  @for (item of items(); track item.playerDetails + '|' + item.teamName + '|' + item.weekLabel + '|' + item.value) {
    <li
      class="starter-game-list__row"
      [class.starter-game-list__row--with-week]="showWeek()"
      [class.starter-game-list__row--no-details]="!showDetails()"
    >
      <span class="starter-game-list__points">
        @if (typeof item.value === 'number') {
          {{ item.value | number: '1.2-2' }}
        } @else {
          {{ item.value }}
        }
      </span>
      @if (showWeek()) {
        <span class="starter-game-list__week">Week {{ item.weekLabel }}</span>
      }
      @if (showDetails()) {
        <span class="starter-game-list__player">{{ item.playerDetails }}</span>
      }
      <span class="starter-game-list__team">{{ item.teamName }}</span>
    </li>
  }
</ul>
