.page-section {
  h2 {
    margin: 0 0 0.5rem;
  }

  p {
    margin: 0;
  }
}

.home__state {
  &--loading {
    font-style: italic;
  }

  &--error {
    color: var(--mat-sys-error, #b3261e);
  }
}

.home__league-name {
  font-weight: 600;
}

// TODO: Remove this once we have a real standings preview component.
.home__spacer {
  min-height: 60vh;
}
