<div class="season-standings__honors">
  @if (championHonorData(); as champion) {
    <app-honor-banner [honor]="champion" />
  }

  @if (toiletBowlHonorData(); as toiletBowl) {
    <app-honor-banner [honor]="toiletBowl" />
  }

  @if (highScoreHonorData(); as highScore) {
    <app-honor-banner
      [honor]="highScore"
      [footerText]="highScoreFooterText()"
      title="Season High Score"
      iconValue="crown"
    />
  }
</div>

<div class="season-standings__table">
  <app-data-table [columns]="tableState().columns" [data]="tableState().data" />
</div>
