:host {
  display: block;
}

.season-standings__honors {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min(100%, 40rem);
  margin: 0 auto;
}

.season-standings__table {
  margin-top: 2rem;
}
