@use './styles/theme/tokens';
@use './styles/theme/material-theme';
@use './styles/theme/components';
@use './styles/theme/material-overrides';

html {
  height: 100%;
  @include material-theme.apply-theme();
}

body {
  color-scheme: dark;
  background-color: var(--bg);
  color: var(--text-primary);
  font-family: var(--font-body);
  margin: 0;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include components.apply-components();
  @include material-overrides.apply-material-overrides();
}
