@use '@angular/material' as mat;

@mixin apply-theme() {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$blue-palette,
        tertiary: mat.$azure-palette,
      ),
      typography: 'Source Sans 3, Arial, sans-serif',
      density: 0,
    )
  );
}
