:host {
  display: block;
}

.all-time-awards__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.all-time-awards__grid > app-stat-card {
  flex: 0 0 25vw;
  max-width: 25vw;
}

@media (max-width: 959px) {
  .all-time-awards__grid > app-stat-card {
    flex-basis: 45vw;
    max-width: 45vw;
  }
}

@media (max-width: 599px) {
  .all-time-awards__grid > app-stat-card {
    flex-basis: 100%;
    max-width: 100%;
  }
}
