:host {
  display: block;
}

.matchups__mobile-nav {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.matchups__mobile-label {
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 599px) {
  .matchups__tabs {
    display: none;
  }

  .matchups__mobile-nav {
    display: flex;
  }
}
